
//
// ___PROJECTNAME___/Configurations/UnitTests.xcconfig
//

#include "../../../Configurations/UnitTests.xcconfig"
#include "../../../Configurations/Libraries.xcconfig"

// Bundle Name
PRODUCT_NAME			= ___PROJECTNAME___UnitTests

// PropertyList
INFOPLIST_FILE			= Source/UnitTests/Resources/PropertyLists/UnitTests-Info.plist

// Bundle Version
BUILD_BUNDLE_VERSION	= 1.0
CURRENT_PROJECT_VERSION	= $(BUILD_BUNDLE_VERSION)

// Clang
RUN_CLANG_STATIC_ANALYZER = YES

// Search Paths
HEADER_SEARCH_PATHS		= $(STDLIB_HEADERS) $(___PROJECTNAMEASIDENTIFIER____HEADER_PATH) $(___PROJECTNAMEASIDENTIFIER____PRIVATEHEADER_PATH)
LIBRARY_SEARCH_PATHS	= $(STDLIB_LIBRARY) $(___PROJECTNAMEASIDENTIFIER____LIBRARY_PATH)

// Linker Flags
OTHER_LDFLAGS			= $(OBJC_LIBRARY) $(OBJC_ALLLOAD) $(FOUNDATION_FX) $(SENTESTINGKIT_FX) $(___PROJECTNAMEASIDENTIFIER____LIBRARY_FLAG)
