
//
// Libraries.xcconfig
// Local Libraries - Declarations by alpha. Order unimportant.
// (c) 2008 - 2011, Semantap
//

#include "Frameworks.xcconfig"

NAVIGATORKIT_HEADER_PATH             = $(BUILD_PLATFORM_NAME_PATH)/NavigatorKit/Headers/
NAVIGATORKIT_PRIVATEHEADER_PATH      = $(BUILD_PLATFORM_NAME_PATH)/NavigatorKit/PrivateHeaders/
NAVIGATORKIT_LIBRARY_PATH            = $(BUILD_PLATFORM_NAME_PATH)/NavigatorKit/
NAVIGATORKIT_LIBRARY_FLAG            = -lNavigatorKit
NAVIGATORKIT_RESOURCE_BUNDLE_NAME    = NavigatorKit.bundle
