
//
//  Library.xcconfig
// (c) 2005 - 2008, Semanteme
// (c) 2008 - 2010, Semantap
//

GCC_PRECOMPILE_PREFIX_HEADER                    = NO
RUN_CLANG_STATIC_ANALYZER                       = NO

PUBLIC_HEADERS_FOLDER_PATH                      = /usr/local/include/$(PRODUCT_NAME)/Headers
PRIVATE_HEADERS_FOLDER_PATH                     = /usr/local/include/$(PRODUCT_NAME)/PrivateHeaders

SYMROOT                                         = Build
PROJECT_TREE_SOURCE_PATH                        = Source
PROJECT_TREE_CLASSES_PATH                       = $(PROJECT_TREE_SOURCE_PATH)/Classes
PROJECT_TREE_PROJECT_PATH                       = $(PROJECT_TREE_SOURCE_PATH)/Project
PROJECT_TREE_RESOURCES_PATH                     = $(PROJECT_TREE_SOURCE_PATH)/Resources
PROJECT_TREE_UNITTESTS_PATH                     = $(PROJECT_TREE_SOURCE_PATH)/UnitTests
LIBRARY_RESOURCE_BUNDLE_PATH                    = $(PROJECT_TREE_RESOURCES_PATH)/Bundles

BUILD_LIBRARY_VERSION_NAME                      = A
BUILD_LIBRARY_VERSION_PATH                      = Versions/$(BUILD_LIBRARY_VERSION_NAME)
BUILD_LIBRARY_HEADERS_PATH                      = Headers
BUILD_LIBRARY_PRIVATEHEADERS_PATH               = PrivateHeaders
BUILD_LIBRARY_RESOURCES_PATH                    = Resources

DEPLOYED_BUILD_PLATFORM_PATH					= $(BUILD_PLATFORM_NAME_PATH)
DEPLOYED_BUILD_PRODUCT_NAME_PATH				= $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)
DEPLOYED_BUILD_PRODUCT_NAME_HEADER_PATH			= $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_HEADERS_PATH)
DEPLOYED_BUILD_PRODUCT_NAME_PRIVATEHEADER_PATH	= $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_PRIVATEHEADERS_PATH)

DEPLOYED_BUILD_LIBRARY_VERSION_PATH             = $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)

DEPLOYED_BUILD_HEADER_VERSION_PATH              = $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)/$(BUILD_LIBRARY_HEADERS_PATH)
DEPLOYED_BUILD_HEADER_PRODUCT_NAME_PATH         = $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)/$(BUILD_LIBRARY_HEADERS_PATH)/$(PRODUCT_NAME)

DEPLOYED_BUILD_PRIVATEHEADER_VERSION_PATH       = $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)/$(BUILD_LIBRARY_PRIVATEHEADERS_PATH)
DEPLOYED_BUILD_PRIVATEHEADER_PRODUCT_NAME_PATH  = $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)/$(BUILD_LIBRARY_PRIVATEHEADERS_PATH)/$(PRODUCT_NAME)

DEPLOYED_BUILD_RESOURCES_PATH                   = $(BUILD_PLATFORM_NAME_PATH)/$(PRODUCT_NAME)/$(BUILD_LIBRARY_VERSION_PATH)/$(BUILD_LIBRARY_RESOURCES_PATH)
