
//
//  Platform.xcconfig
// (c) 2005 - 2008, Semanteme
// (c) 2008 - 2010, Semantap
//

#include "Platform-4.1.xcconfig"

// Ugh...

IOS_PLATFORM_VERSION_42    = 040200
IOS_PLATFORM_VERSION_41    = 040100
IOS_PLATFORM_VERSION_402   = 040002
IOS_PLATFORM_VERSION_401   = 040001
IOS_PLATFORM_VERSION_40    = 040000
IOS_PLATFORM_VERSION_32    = 030200
IOS_PLATFORM_VERSION_313   = 030103
IOS_PLATFORM_VERSION_31    = 030100
IOS_PLATFORM_VERSION_30    = 030000